<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title %></title>
</head>
<body>
    <%- include("partials/menu.ejs") %>
    <img width="50" height="50" src="https://o.rada.vn/data/image/2020/11/14/Huong-dan-Yasuo-toc-chien-Q.jpg" alt="">
    <p>Тыкаю ножом как профи.Иногда пускаю ветер, и даже лучше чем Жанна</p>
    <img width="50" height="50" src="https://preview.redd.it/myeez3gaaoq71.jpg?auto=webp&s=be1f2b29c48c2cc9f159954f86858221a7075588" alt="">
    <p>Пускаю плоский ветер в лицо и у любого мага сгорит</p>
    <img width="50" height="50" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVAJHwsVbVgqMt4tZlqcsUs1ofEyYAhUfeGQ&usqp=CAU" alt="">
    <p>Я настолько долго безработный что похудел до такой степени что могу проходить сквозь людей</p>
    <img width="50" height="50" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3Vbu5i2yMZdm9Ks-9olIhAKle4eYJErW26EZ0-Sgvywat5jPZe5S1r-zPHdexZODt9qM&usqp=CAU" alt="">
    <p>ХАРИЯГЕТОН</p>

    <h1>Мои Языки</h1>
    <p>Ионийский и Древне Ионийский</p>
    <%- include("partials/footer.ejs") %>
</body>
</html>